body,
html {
  height: 100%;
  margin: 0;
}

/* .app-container { */
/* background: url('./Assests//background.jpg'); */
/* background-size: cover; */
/* height: 100vh; */
/* display: flex;
  justify-content: center;
  align-items: center; */
/* } */
